<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_Key</key>
	<string>y6XCgX6Hq9Wxsu9b90ssmLPd2</string>
	<key>consumer_Secret</key>
	<string>xOsIKDKyXx6EaoQRnLcqGXsXnsQ4Wr4q3sAJGYCLsyzfrBrQbA</string>
</dict>
</plist>
